@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.text--blue {
  color: #0072bb;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.col {
  display: flex;
}

section:nth-child(odd) {
  background-color: #f8f8f8;
}

.section__title {
  margin-bottom: 20px;
}

/*=== Navbar Styling ===*/

#navbar__name {
  color: #0072bb;
}

/*=== Home/About Styling ===*/

#home-page {
  min-height: 100vh;
}

.about-me__info--container {

  padding: 20px 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}

#about-me {
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 300px;
  height: 300px;
  margin: 15px 0;
  justify-content: start;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 24px #626262;
  margin-bottom: 28px;
  animation: animate-profile-picture 800ms 200ms backwards;

}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0)
  }

  80% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 650ms 400ms backwards;

}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 600ms backwards;

}

.about-me__link {
  font-size: 20px;
  color: #252525;
  padding: 0 16px;
}

.about-me__links {
  animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }

}

/*=== Tech Stack ===*/

#languages {
  padding: 110px 0;
}

.language__img {
  width: 100%;
  max-width: 100px;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/*=== Small phones, tablets, and large smartphones ===*/

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    padding-right: 30px;
    left: 30px;
  }
}

/*=== Footer ==*/

footer {
  background-color: #242424;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 28px;
}

.footer__row {
  display: flex;
  padding: 8% 0;
}

.footer__logo--img {
  width: 70px;
  height: 70px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #fff;
}

.footer__logo--popper {
  position: absolute;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}